*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.App {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "sidebar background",
  "sidebar projects",
  "sidebar skills",
  "sidebar footer";
}

.sidebar{
position: sticky;
grid-area: sidebar;
background: rgb(49, 36, 79);
top: 0;
left: 0;
align-self: start;
padding: 50px;
display: flex;
flex-direction: column;
justify-content: center;

}
.sidebar ul{
  margin: 50px;
}

.main{
  background: rgb(96, 16, 187);
}




