*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.App {
  background: purple;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto;
}

.sidebar{
  position: sticky;
  grid-area: sidebar;
 background: purple;
 top: 0;
 left: 0;
 align-self: start;

}

.main{
  background: rgb(96, 16, 187);
}




